$color-main: #263238;
$color-accent: #ffd957;
$color-accent-light: #FFF4CD;
$color-white: #ffffff;
$color-bg: #eeeeee;
$color-border: #f5f5f5;
$color-text: #7f7f80;
$color-footer: #9c9c9c;
$text-additional: #4D5459;