.intro {
  width: 100%;
  height: auto;
  background-color: $color-accent;
}

.intro__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc((3 - 1.15)* 1.1vw + .8rem);
  padding: calc((7 - 1.15)* 1.1vw + .8rem) 1em;
}

.intro__title {
  font-weight: 600;
  font-size: calc((5 - 1.15)* 1.1vw + .8rem);
  color: $color-main;
  text-align: center;
}

.intro__title-box-dash {
  display: inline-block;
  border: 2px dashed $color-main;

}

.intro__title-box-inner {
  display: inline-block;
  background-color: $color-main;
  color: $color-accent;
  padding: 0 0.4em;
  margin: 0.2em 1px;
}

.intro__description {
  font-weight: 300;
  line-height: 1;
  font-size: calc((1.5 - 1.15)* 1.1vw + .8rem);
  text-align: center;
  color: $text-additional;
}

// .intro__button {
//   border: 1px solid $color-main;
//   border-radius: 4px;
//   padding: calc((1.5 - 1.15)* 1.1vw + .8rem) calc((3 - 1.15)* 1.1vw + .8rem);
//   font-size: calc((1.5 - 1.15)* 1.1vw + .8rem);
// }